
html, body {
	height: 100%;
}

body {
	font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}

*:not(input):not(textarea) {
	user-select: none;
}

#wrapper {
	min-height: 100%;
	position: relative;
}

#wrapper > main {
	padding-bottom: 150px;
}

.row {
	max-width: 80em;
}

input[type="text"], input[type="password"], input[type="date"],
input[type="datetime"], input[type="datetime-local"], input[type="month"],
input[type="week"], input[type="email"], input[type="number"],
input[type="search"], input[type="tel"], input[type="time"],
input[type="url"], textarea, select {
	margin-top: 5px;
}

button.action,
.button.action {
	background: #ff7941;
}

button.action:hover,
.button.action:hover {
	background: #ff712c;
}

.panel.warning {
	border-color: #e3bfbf;
	background-color: #fdf;
}

.disabled {
	opacity: .3;
	pointer-events: none;
}
