<div class="copyright">
	Collabish &copy; {{now "YYYY"}} <a href="http://www.umbraengineering.com" target="_blank">Umbra Engineering LLC</a>
</div>
<div class="links">
	<a class="terms">Terms</a>
	<a class="privacy">Privacy</a>
	<a class="report">Report a Problem</a>
	<a class="support" href="http://www.gofundme.com/collabish" target="_blank">Help Support Collabish</a>
</div>