<h1>Account Settings</h1>
<div class="row">
	<div class="small-12 medium-3 columns">
		<nav>
			<div class="stack button-group">
				<a class="button secondary expand" href="/#settings/profile">Public Profile</a>
				<a class="button secondary expand" href="/#settings/authentication">Authentication</a>
				<a class="button secondary expand" href="/#settings/notification">Notifications</a>
				<a class="button secondary expand" href="/#settings/account">Account</a>
			</div>
		</nav>
	</div>
	<div class="small-12 medium-9 columns">
		<main class="panel">
			{{!--  --}}
		</main>
	</div>
</div>