<div class="report">
	<h3>Report a Problem</h3>
	<div class="error hide"></div>
	<p>
		This form is so you can report a problem or bug with our application. Is something broken? Let us
		know about it below.
	</p>
	<form>
		<label>
			Subject
			<input type="text" class="subject" />
		</label>
		<label>
			Description
			<textarea class="description"></textarea>
		</label>
		<div class="button-wrapper">
			<button class="action button">Send Report</button>
		</div>
	</form>
</div>