
.modal.wrapper .privacy.modal {
	margin-top: 2rem;
	width: 90%;
}

	.modal.wrapper .privacy.modal main {
		height: 450px;
		overflow-y: auto;
	}

		.modal.wrapper .privacy.modal main h4 {
			font-size: 1rem;
			font-weight: 500;
		}

		.modal.wrapper .privacy.modal main li,
		.modal.wrapper .privacy.modal main p {
			font-size: 0.8rem;
		}

		.modal.wrapper .privacy.modal main li,
		.modal.wrapper .privacy.modal main > p {
			margin: 1rem 0;
		}

@media only screen and (min-width: 40.063em) {
	.modal.wrapper .privacy.modal {
		width: 600px;
		margin-top: 3rem;
	}

		.modal.wrapper .privacy.modal main {
			height: 450px;
			padding-right: 10px;
		}

			.modal.wrapper .privacy.modal main li,
			.modal.wrapper .privacy.modal main > p {
				margin: 1rem;
			}
}

@media only screen and (min-width: 64.063em) {
	.modal.wrapper .privacy.modal {
		margin-top: 4rem;
	}
}
