
.login.modal {
	/**/
}
	
	.login.modal .error {
		color: #a22;
		padding: 5px 0 20px;
	}

	.login.modal form {
		/**/
	}

		.login.modal form .button-wrapper {
			padding-top: 10px;
			text-align: center;
		}

			.login.modal form .button {
				width: 100%;
				margin-bottom: 0;
				position: relative;
			}

				.login.modal form .button .progress {
					position: absolute;
					top: 20px;
					right: 19px;
				}



@media only screen and (max-width: 40em) {
	.modal.wrapper .login.modal {
		margin-top: 1rem;
	}
}
