<h3>Login</h3>
<div class="error hide"></div>
<form class="login">
	<label>
		Username/Email
		<input type="text" class="username" />
	</label>
	<label>
		Password <small>(if needed)</small>
		<input type="password" class="password" />
	</label>
	<div class="button-wrapper">
		<button class="button">Login</button>
	</div>
</form>