<h2>Public Profile</h2>
<form>
	<label class="gravatar">
		Avatar (provided by <a href="http://gravatar.com">Gravatar</a>)
		<img src="{{gravatar gravatarHash "s=100"}}" width="100" height="100" alt="" title="" />
	</label>
	<label>
		Name<br />
		<input type="text" class="name" value="{{ name }}" />
		<i class="fa"></i>
	</label>
	<label>
		URL<br />
		<input type="text" class="url" value="{{ url }}" />
		<i class="fa"></i>
	</label>
	<label>
		Location<br />
		<input type="text" class="location" value="{{ location }}" />
		<i class="fa"></i>
	</label>
</form>