article.comment {
	padding: 1rem;
}

*:nth-of-type(even) article.comment {
	background: #f0f0f0;
}

	article.comment .gravatar {
		width: 48px;
		float: left;
	}

		article.comment .gravatar img {
			margin-top: 10px;
		}

	article.comment .content {
		float: left;
		margin-left: 1.5rem;
		width: calc(100% - 48px - 1.5rem);
		position: relative;
	}

		article.comment:after {
			display: block;
			visibility: hidden;
			content: " ";
			height: 0;
			line-height: 0;
			clear: left;
		}

		article.comment main {
			/**/
		}

			article.comment main p.line {
				margin: 0;
			}

				article.comment main .atref {
					color: #666;
					font-size: .9em;
					font-weight: bold;
				}

		article.comment footer {
			margin-top: 10px;
		}

			article.comment .posted {
				font-size: .8rem;
			}

			article.comment .actions {
				text-align: right;
				position: absolute;
				bottom: 0;
				right: 0;
			}

				article.comment .actions a {
					color: #888;
					margin: 0 5px;
				}

				article.comment .actions a:hover {
					color: #444;
				}

				article.comment .actions [data-tooltip]:after {
					width: 80px;
				}
