
section.document-overview {
	padding: 1rem;
	position: relative;
}
	
	section.document-overview h3 {
		font-size: 2rem;
	}

	section.document-overview .icons {
		position: absolute;
		top: 1rem;
		right: 1rem;
	}

		section.document-overview .icons i {
			font-size: 1.4rem;
			color: #888;
			margin: 5px;
		}

	section.document-overview .description {
		margin-bottom: .5rem;
	}

	section.document-overview .tags {
		/**/
	}

	section.document-overview .meta {
		margin-top: 3rem;
	}

		section.document-overview .meta:after {
			display: block;
			visibility: hidden;
			content: " ";
			height: 0;
			line-height: 0;
			clear: both;
		}

		section.document-overview .updated {
			font-size: .8rem;
			font-style: italic;
			float: left;
			margin: 0;
		}

		section.document-overview .stars {
			float: right;
			margin: 0;
		}



@media only screen and (max-width: 40em) {
	section.document-overview h3 {
		font-size: 1.2rem;
	}
}
