
section.dashboard {
	/**/
}

	section.dashboard h1 {
		padding: 1rem;
		text-align: center;
	}

	section.dashboard section.documents,
	section.dashboard section.recent {
		padding: 1rem 0;
	}

		section.dashboard section.documents .progress,
		section.dashboard section.recent .progress {
			margin: 5rem auto;
		}

		section.dashboard .no-results {
			margin: 0 auto 5rem auto;
			text-align: center;
		}



@media only screen and (max-width: 40em) {
	section.dashboard {
		/**/
	}

		section.dashboard h2 {
			text-align: center;
		}

		section.dashboard section.documents {
			border-bottom: 1px #ccc solid;
			margin-bottom: 3rem;
		}
}



@media only screen and (min-width:40.063em) {
	section.dashboard {
		padding: 2rem;
	}
}
