<h1>Dashboard</h1>
<div class="row">
	<div class="small-12 medium-6 columns">
		<h2>Your Documents</h2>
		<section class="documents">
			{{!-- DocumentOverviewView ... --}}
		</section>
	</div>
	<div class="small-12 medium-6 columns">
		<h2>Recently Starred Documents</h2>
		<section class="recent">
			{{!-- DocumentOverviewView ... --}}
		</section>
	</div>
</div>