<main class="row">
	<div class="small-12 medium-4 medium-centered columns">
		<h2>Create Document</h2>
		<div class="error hide"></div>
		<form>
			<label class="name">
				Name
				<input type="text" />
			</label>
			<label class="description">
				Email
				<input type="description" />
			</label>
			<label class="public">
				Privacy
				<select>
					<option value="true">Public</option>
					<option value="false">Private</option>
				</select>
			</label>
			<label class="tags">
				Tags
				<input type="text" />
			</label>
			<div class="button-wrapper">
				<button class="button">Create</button>
			</div>
		</form>
	</div>
</main>