
section.notfound {
	/**/
}

	section.notfound header {
		padding: 1.3rem;
	}

		#wrapper > header ~ main section.notfound header {
			display: none;
		}

		section.notfound header h1 {
			font-size: 2rem;
		}

			section.notfound header h1 a {
				color: #000;
			}

	section.notfound main {
		max-width: 600px;
		margin: 2rem auto;
	}

		#wrapper > header ~ main section.notfound main {
			margin-top: 10rem;
		}

	section.notfound nav {
		max-width: 600px;
		margin: 4rem auto;
	}

		section.notfound nav a {
			margin-right: 2rem;
		}



@media only screen and (max-width: 40em) {
	section.notfound header,
	section.notfound main,
	section.notfound nav {
		text-align: center;
	}

	section.notfound main {
		padding: 2rem;
	}

		section.notfound nav a {
			margin: 0 1rem;
		}
}
