
section.signup {
	/**/
}

	section.signup header {
		padding: 1rem;
	}

		section.signup header h1 {
			font-size: 2rem;
		}

			section.signup header h1 a {
				color: #000;
			}

	section.signup main {
		/**/
	}
	
		section.signup main .error {
			color: #a22;
			padding: 5px 0 20px;
		}

		section.signup main .mobile span.prefix {
			margin-top: 5px;
		}

		section.signup main .button-wrapper .button {
			width: 100%;
			background: #ff7941;
		}

		section.signup main .button-wrapper .button:hover {
			background: #ff712c;
		}

	section.signup main .tooltip-left {
		color: #ff7941;
		font-weight: bold;
		float: right;
	}

@media only screen and (max-width: 40em) {
	section.signup header h1,
	section.signup main h2 {
		text-align: center;
	}

	section.signup main h2 {
		margin-bottom: 2rem;
	}
}

@media only screen and (min-width: 40.063em) {
	section.signup main {
		padding-top: 3rem;
	}

	section.signup main.success {
		max-width: 800px;
	}

		section.signup main h2 {
			padding-bottom: 1rem;
		}
}
