<h2>You're almost done...</h2>
<p>
	Welcome {{ username }}!<br />
	We've sent you a confirmation email, and once you click the link in
	that email, your account will be ready. That link will take you back
	to the login screen, so you can close this tab now.
</p>