<header>
	<h1><a href="#/">Collabish</a></h1>
</header>

<main>
	<p>
		Your two-step confirmation token has been sent. Go check for your message, and enter your
		code below.
	</p>
	<form>
		<div class="error hide"></div>
		<label>
			Confirmation Code
			<input type="text" class="code" placeholder="eg. ABC123" />
		</label>
		<div class="button-wrapper">
			<button class="button">Confirm Login</button>
		</div>
	</form>
</main>