<h2>Authentication</h2>
<form>
	<label>
		Authentication Method
		<select class="auth-method">
			<option value="password" {{#if authMethod.isPassword}}selected{{/if}}>Password</option>
			<option value="email" {{#if authMethod.isEmail}}selected{{/if}}>Email only</option>
			<option value="twostep-email" {{#if authMethod.isTwostepEmail}}selected{{/if}}>Two-step (Password + Email)</option>
			{{!-- <option value="twostep-sms" {{#if authMethod.isTwostepSms}}selected{{/if}}>Two-step (Password + SMS)</option> --}}
		</select>
	</label>
	{{#unless authMethod.isEmail}}
	<label class="current-password">
		Current Password<br />
		<input type="password" />
	</label>
	{{/unless}}
	<label class="new-password">
		New Password<br />
		<input type="password" />
		<input type="password" />
	</label>
	<div class="button-wrapper">
		<button class="action button">Update Authentication Method</button>
	</div>
</form>