/**
 * (C)Leanest CSS spinner ever
 *
 * http://lea.verou.me/2013/11/cleanest-css-spinner-ever/
 */

@keyframes spin {
	to { transform: rotate(1turn); }
}

.progress {
	position: relative;
	display: inline-block;
	width: 5em;
	height: 5em;
	margin: 0 .5em;
	font-size: 12px;
	text-indent: 999em;
	overflow: hidden;
	border-width: 0;
	background: transparent;
	animation: spin .75s infinite steps(8);
}

.centered.progress {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.tiny.progress {
	font-size: 3px;
}

.small.progress {
	font-size: 6px;
}

.medium.progress {
	font-size: 16px;
}

.large.progress {
	font-size: 24px;
}

.progress:before,
.progress:after,
.progress > div:before,
.progress > div:after {
	content: '';
	position: absolute;
	top: 0;
	left: 2.25em; /* (container width - part width)/2  */
	width: .5em;
	height: 1.5em;
	border-radius: .2em;
	background: #eee;
	box-shadow: 0 3.5em #eee; /* container height - part height */
	transform-origin: 50% 2.5em; /* container height / 2 */
}



/* ==  Standard (black on white)  == */

.progress:before {
	background: #555;
}
	
.progress:after {
	transform: rotate(-45deg);
	background: #777;
}

.progress > div:before {
	transform: rotate(-90deg);
	background: #999;
}

.progress > div:after {
	transform: rotate(-135deg);
	background: #bbb;
}



/* ==  Inverted (white on black)  == */

.progress.invert:before {
	background: #bbb;
}

.progress.invert:after {
	background: #999;
}

.progress.invert > div:before {
	background: #777;
}

.progress.invert > div:after {
	background: #555;
}



/* ==  Action button (white on orange)  == */

.progress.orange:before {
	background: #fee;
}

.progress.orange:after {
	background: #ffac8a;
}

.progress.orange > div:before {
	background: #ff7941;
}

.progress.orange > div:after {
	background: #ff7941;
}



/* ==  Transparent  == */

.progress.transparent:before {
	background: rgba(255,255,255,1);
}

.progress.transparent:after {
	background: rgba(255,255,255,.6);
}

.progress.transparent > div:before {
	background: rgba(255,255,255,.2);
}

.progress.transparent > div:after {
	background: rgba(255,255,255,0);
}