
section.welcome {
	/**/
}

	section.welcome header {
		width: 95%;
		margin: 0 auto;
		padding-top: 2rem;
	}

		section.welcome header h1 {
			text-align: center;
		}

		section.welcome header p {
			margin-left: 0;
			text-align: center;
		}

	section.welcome main {
		/**/
	}



@media only screen and (min-width: 40.063em) {
	section.welcome {
		padding-top: 5rem;
	}

		section.welcome header {
			width: 80%;
			margin: 0 auto;
		}

			section.welcome header h1 {
				text-align: left;
			}


			section.welcome header p {
				margin-left: 15px;
				text-align: left;
			}
}



@media only screen and (min-width: 120.063em){
	section.welcome {
		padding-top: 8rem;
	}
}



/* ==  Signup  == */

section.welcome .signup {
	margin: 0 auto;
}
	
	section.welcome .signup h2 {
		text-align: center;
	}

	section.welcome .signup form {
		/**/
	}

		section.welcome .signup form label {
			margin-top: 20px;
		}

		section.welcome .signup form label.error {
			/**/
		}

			section.welcome .signup form label.error span {
				font-size: 0.6rem;
				position: relative;
				top: -1px;
				left: 15px;
				display: inline-block;
			}

			section.welcome .signup form label.error input {
				border-color: #ecc;
				box-shadow: 0 0 5px #c00;
			}

		section.welcome .signup form .button-wrapper {
			padding-top: 10px;
			text-align: center;
		}

			section.welcome .signup form .button {
				width: 100%;
				background: #ff7941;
			}

			section.welcome .signup form .button:hover {
				background: #ff712c;
			}



@media only screen and (min-width: 40.063em) {
	section.welcome .signup {
		width: 400px;
		padding: 15px;
		border: 1px #ddd solid;
		border-radius: 15px 20px;
		background: #f5f5f5;
	}

		section.welcome .signup h2 {
			font-size: 2rem;
		}

		section.welcome .signup form .button {
			margin-bottom: 0;
		}
}
