<header>
	<h1>Collabish</h1>
	<p>
		A collaborative environment for writers to work, share, comment, and rework
	</p>
</header>

<nav class="welcome">
	{{!-- WelcomeNavView --}}
</nav>

<main class="row">
	<div class="small-12 medium-8 columns">
		{{!-- Some other content will likely go here at a later date --}}
	</div>
	<div class="small-12 medium-4 columns signup">
		<h2>Join The Community</h2>
		<form>
			<label class="username">
				Username <span></span>
				<input type="text" />
			</label>
			<label class="email">
				Email <span></span>
				<input type="text" />
			</label>
			<div class="button-wrapper">
				<button class="action button">Sign Up</button>
			</div>
		</form>
	</div>
</main>
