<header>
	<h1>{{ document.name }} (<a href="/#document/{{ document._id }}">overview</a>)</h1>
</header>
<main class="row">
	<div class="small-12 columns">
		<div class="contents panel">
			{{{ contents }}}
		</div>
	</div>
</main>