<header>
	<h1>{{ document.name }}
		<br />
		<span class="overview">
			(<a href="/#document/{{ document._id }}">overview</a>)
		</span>
	</h1>
</header>
<main class="row">
	<div class="small-12 columns">
		<div class="contents panel">
			{{{ contents }}}
		</div>
	</div>
</main>