<h1><a href="/#">Collabish</a></h1>
<div class="controls">
	<a class="profile" href="/#user/{{ user.username }}">
		<span data-tooltip="Profile">
			<img src="{{gravatar gravatarHash "s=32"}}" width="32" height="32" alt="" title="" />
			{{ user.username }}
		</span>
	</a>
	<div class="icons">
		<a class="inbox" href="/#inbox">
			<span data-tooltip="Inbox">
				<i class="fa fa-inbox"></i>
			</span>
		</a>
		<a class="settings" href="/#settings">
			<span data-tooltip="Account Settings">
				<i class="fa fa-gears"></i>
			</span>
		</a>
		<a class="signout">
			<span data-tooltip="Sign Out">
				<i class="fa fa-sign-out"></i>
			</span>
		</a>
	</div>
</div>
